@{
    ViewData["Title"] = "Admin Paneli";
}

<h2>Admin Paneline Hoş Geldiniz!</h2>

<ul>
    <li><a href="#">Ürün Yönetimi</a></li>
    <li><a href="#">Sipariş Yönetimi</a></li>
    <li><a href="#">Kullanıcı Yönetimi</a></li>
</ul>
