@{
    ViewData["Title"] = "Admin Paneli";
}

<h2>Admin Paneline Hoş Geldiniz!</h2>

<ul>
    <li><a href="#">Sipariş Yönetimi</a></li>
    <li><a href="#">Kullanıcı Yönetimi</a></li>

    <a class="btn btn-info" asp-controller="Admin" asp-action="CategoryList">Kategori Yönetimi</a>
    <a class="btn btn-info" asp-controller="Admin" asp-action="ProductList">Ürün Yönetimi</a>


</ul>
