@{
    ViewData["Title"] = "Sipariş Başarılı";
}

<h2>Teşekkürler!</h2>
<p>Siparişiniz başarıyla alındı. En kısa sürede adresinize gönderilecektir.</p>

<a asp-action="Index" asp-controller="Home" class="btn btn-primary">Ana Sayfaya Dön</a>
