@model cansaraciye_ecommerce.Models.Order

<h2>Siparişiniz başarıyla alındı!</h2>
<p>Siparişiniz hazırlanıyor. En kısa sürede teslim edilecektir.</p>

<a asp-action="Index" asp-controller="Home" class="btn btn-primary">Ana Sayfaya Dön</a>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p>@error.ErrorMessage</p>
        }
    </div>
}
